.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

input {
  padding: 10px;
  width: 200px;
  margin-bottom: 12px;
}

label {
  display: block;
  color: white;
  font-size: calc(15px + 2vmin);
}

li {
  padding: 0.5px;
  text-align: left;
  font-size: calc(12px + 2vmin);
}

a {
  color: #61dafb;
}
a:hover {
  color: gray;
}

button {
  display: block;
  width: 150px;
  padding: 6px;
  background: black;
  border: none;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  font-size: calc(12px + 2vmin);
}
button:hover {
  color: gray;
}

.profile img {
  width: 100px;
  border-radius: 50%;
}
.sectionTitle {
  margin-bottom: -20px;
  font-size: calc(15px + 2vmin);
  grid-template-columns: repeat(2, 1fr);
}

.hello-name {
  font-size: calc(33px + 2vmin);
  color: white;
}

.red {
  color: red;
}

.green {
  color: green;
}

.cyan {
  color: cyan;
}